form(id="form")
  .auth
    label.auth__label_username Username
      input.auth__field_username(type="text" placeholder="Enter username" name="username")
    label.auth__label_password Password
      input.auth__field_password(type="password" placeholder="Enter password" name="password")
      span.auth__condition_password Your password is between 4 and 12 characters
  .label-input
    label.label-input__label Input Text Label
      input.label-input__field(type="text" placeholder="Type here" name="valueLabel")
      div.label-input__warning-password
  .checkbox
    label.checkbox__label
      input.checkbox__default(type="checkbox")
      span.checkbox__style
      span.checkbox__name Remember me
  .radio
    .wrapper
      label.radio__label
        input.radio__default(type="radio" name="rd" value="first")
        span.radio__style
        span.radio__name Radio selection 1
    .wrapper
      label.radio__label
        input.radio__default(type="radio" name="rd" value="second")
        span.radio__style
        span.radio__name Radio selection 2
    .wrapper
      label.radio__label
        input.radio__default(type="radio" name="rd" value="third")
        span.radio__style
        span.radio__name Radio selection 3
  .select
    span.select__label Select
    .select__wrapper
      div(class="select__custom select__custom-js")
        div(class="select__custom-trigger" id="custom-trigger")
        .select__custom-options
          div(class="select__custom-option" data="ds") first
          div(class="select__custom-option" data="fe") second
          div(class="select__custom-option" data="be") third
  .buttons
    button(class="buttons__button_clear" type="reset") Clear
    button(class="buttons__button_go" type="submit") Go